body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1341px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u867 {
  position:absolute;
  left:-4px;
  top:0px;
  width:1349px;
  height:81px;
}
#u868 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u869 {
  position:absolute;
  left:73px;
  top:117px;
  width:72px;
  height:72px;
}
#u870 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u871 {
  position:absolute;
  left:88px;
  top:199px;
  width:43px;
  height:16px;
  color:#1E1E1E;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u873 {
  position:absolute;
  left:85px;
  top:27px;
  width:176px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u875 {
  position:absolute;
  left:39px;
  top:28px;
  width:36px;
  height:28px;
}
#u876 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u877 {
  position:absolute;
  left:154px;
  top:26px;
  width:15px;
  height:22px;
  font-family:'TimesNewRomanPSMT', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:777px;
}
#u879 {
  position:absolute;
  left:230px;
  top:82px;
  width:1px;
  height:776px;
}
#u880 {
  position:absolute;
  left:2px;
  top:380px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u881 {
  position:absolute;
  left:1124px;
  top:29px;
  width:23px;
  height:23px;
}
#u882 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u883 {
  position:absolute;
  left:1189px;
  top:33px;
  width:43px;
  height:16px;
  color:#FFFFFF;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:82px;
}
#u885 {
  position:absolute;
  left:1084px;
  top:0px;
  width:1px;
  height:81px;
}
#u886 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u887 {
  position:absolute;
  left:1296px;
  top:37px;
  width:13px;
  height:8px;
}
#u888 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889 {
  position:absolute;
  left:1084px;
  top:80px;
  visibility:hidden;
}
#u889_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u889_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u890_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u890.mouseOver {
}
#u891 {
  position:absolute;
  left:28px;
  top:22px;
  width:231px;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u892 {
  position:absolute;
  left:0px;
  top:61px;
  width:261px;
  height:61px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u892_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u892.mouseOver {
}
#u893 {
  position:absolute;
  left:28px;
  top:22px;
  width:231px;
  word-wrap:break-word;
}
#u894 {
  position:absolute;
  left:1084px;
  top:0px;
  width:261px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u896 {
  position:absolute;
  left:0px;
  top:366px;
  width:232px;
  height:62px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u896_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u896.mouseOver {
}
#u896_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u896.selected {
}
#u897 {
  position:absolute;
  left:2px;
  top:22px;
  width:228px;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u898 {
  position:absolute;
  left:0px;
  top:428px;
  width:232px;
  height:62px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u898_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u898.mouseOver {
}
#u898_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u898.selected {
}
#u899 {
  position:absolute;
  left:2px;
  top:22px;
  width:228px;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u900 {
  position:absolute;
  left:0px;
  top:304px;
  width:232px;
  height:62px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u900_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u900.mouseOver {
}
#u900_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u900.selected {
}
#u901 {
  position:absolute;
  left:2px;
  top:22px;
  width:228px;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u902 {
  position:absolute;
  left:276px;
  top:110px;
  width:78px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u904 {
  position:absolute;
  left:540px;
  top:646px;
  width:135px;
  height:112px;
  text-align:center;
  line-height:28px;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u904_ann {
  position:absolute;
  left:668px;
  top:642px;
  width:1px;
  height:1px;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u906 {
  position:absolute;
  left:320px;
  top:646px;
  width:43px;
  height:112px;
  text-align:center;
  line-height:28px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u908 {
  position:absolute;
  left:427px;
  top:646px;
  width:43px;
  height:112px;
  text-align:center;
  line-height:28px;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u910 {
  position:absolute;
  left:759px;
  top:646px;
  width:93px;
  height:112px;
  text-align:center;
  line-height:28px;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u912 {
  position:absolute;
  left:940px;
  top:646px;
  width:33px;
  height:112px;
  text-align:center;
  line-height:28px;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u915 {
  position:absolute;
  left:757px;
  top:795px;
  width:57px;
  height:16px;
  font-size:11px;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  position:absolute;
  left:821px;
  top:794px;
  width:16px;
  height:16px;
}
#u918 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u919 {
  position:absolute;
  left:858px;
  top:794px;
  width:16px;
  height:16px;
}
#u920 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u921 {
  position:absolute;
  left:839px;
  top:794px;
  width:16px;
  height:16px;
  color:#FFFFFF;
}
#u922 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u923 {
  position:absolute;
  left:918px;
  top:794px;
  width:55px;
  height:15px;
}
#u923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u923_input:disabled {
  color:grayText;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u924 {
  position:absolute;
  left:884px;
  top:795px;
  width:34px;
  height:16px;
  font-size:11px;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u926 {
  position:absolute;
  left:617px;
  top:564px;
  width:248px;
  height:38px;
}
#u926_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:38px;
  background-color:#F2F2F2;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:38px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  position:absolute;
  left:896px;
  top:564px;
  width:77px;
  height:38px;
}
#u928 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:236px;
}
#u929 {
  position:absolute;
  left:320px;
  top:274px;
  width:653px;
  height:236px;
}
#u930 {
  position:absolute;
  left:2px;
  top:110px;
  width:649px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931 {
  position:absolute;
  left:359px;
  top:232px;
  width:100px;
  height:27px;
}
#u931_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u931_input:disabled {
  color:grayText;
}
#u932 {
  position:absolute;
  left:469px;
  top:232px;
  width:100px;
  height:27px;
}
#u932_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u932_input:disabled {
  color:grayText;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u933 {
  position:absolute;
  left:320px;
  top:235px;
  width:29px;
  height:22px;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u935 {
  position:absolute;
  left:276px;
  top:190px;
  width:145px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u937 {
  position:absolute;
  left:403px;
  top:113px;
  width:202px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u938 {
  position:absolute;
  left:4px;
  top:2px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u939 {
  position:absolute;
  left:403px;
  top:113px;
  width:142px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u940 {
  position:absolute;
  left:4px;
  top:4px;
  width:134px;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u941 {
  position:absolute;
  left:624px;
  top:112px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u943 {
  position:absolute;
  left:284px;
  top:260px;
  visibility:hidden;
}
#u943_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u943_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:315px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u945 {
  position:absolute;
  left:2px;
  top:12px;
  width:616px;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  position:absolute;
  left:245px;
  top:241px;
  width:130px;
  height:41px;
}
#u947 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u948 {
  position:absolute;
  left:304px;
  top:20px;
  width:73px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  visibility:hidden;
  white-space:nowrap;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
  line-height:28px;
}
#u950 {
  position:absolute;
  left:54px;
  top:67px;
  width:71px;
  height:140px;
  text-align:right;
  line-height:28px;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u952 {
  position:absolute;
  left:135px;
  top:67px;
  width:459px;
  height:140px;
  line-height:28px;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  white-space:nowrap;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u954 {
  position:absolute;
  left:629px;
  top:184px;
  width:55px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
  line-height:22px;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u956 {
  position:absolute;
  left:657px;
  top:134px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u956_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u956_seg1 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u957 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
